:root {
    --main-black :  #291507;
    --bg-black : #050709 ; 
    --main-black : #000000 ; 
    --line-sp: #4D270C ; 
    --bg-gray: #E3E1DC ; 
    --main-wite : #FFFFFF ; 
    --light-black: rgba(41, 21, 7, 0.6) ; 
    --light-black2 : #7F736A ; 
    --hover-light-gray:  rgba(151, 151, 151, 0.1) ; 
    --fw-400: 400 ; 
    --fw-500: 500 ; 
    --fw-700: 700 ; 
    --fw-600: 600 ; 
    --logo-font: 'Mystery Quest', cursive;
    --text-font: 'Montserrat', sans-serif;
}
/* setting the border box  */
html {
    box-sizing: border-box;
}
*, *::after , *::before {
    box-sizing: inherit;
}
* {
    font-family: var(--text-font);
}
body {
    margin: 0;
    padding: 1.125rem 1.125rem 0rem 1.125rem;
    font-size: calc(1rem + 1vw);
}
/* logo section */
.logo-top  {
    padding-bottom: 1em;
    font-size: 1em;
}
.logo-top a {
    text-decoration: none;
}
.logo1 {
    font-family: var(--logo-font);
    font-size: 1.5em;
    color: var(--bg-black);
}
.svglogo {
    width: 2em;
}
.svglogo > path {
    fill: var(--bg-black);
}
/* navigation section */
.main-navigation {
    border-radius: 1.8em;
    overflow: hidden;
}
/* first section search-nav */

.search-nav {
    background-color: var(--bg-black);
    color: var(--main-wite);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 2;
    padding: 2rem;
}
.main-content > .logo {
    font-size: 0.75em;
}
.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.bg-image1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.welcom-text {
    font-size: 0.6em;
    font-weight: var(--fw-500);
}
.search-wrapper {
    display: flex;
    background-color: var(--main-wite);
    align-items: center;
    width: 90%;
    border-radius: 1.4em;
    overflow: hidden;
    padding: 0.3em;
}
#search-input {
    width: 100%;
    border: none;
    background-color: inherit;
    height: 1.5em;
    font-size: 1em;
    font-weight: var(--fw-500);
}
input:focus {
    border: none;
    outline: none;
}
input:active {
    background-color: inherit;
}
.search{
    color: var(--bg-black);
    font-size: 1em;
}
/* second section most seached breeds */
.most-searched-breeds {
    background-color: var(--bg-gray);
    padding: 1em;
    display: flex; 
    flex-direction: column;
}
.logo2 {
    font-family: var(--logo-font);
    color:var(--main-wite);
}
.most-searched {
    margin: 0;
    font-weight: var(--fw-500);
    font-size: 1em;
}
.most-searched::after {
    content: "";
    display: block;
    height: 0.15em;
    width: 2.5em;
    border-radius: 77px;
    background-color: var(--line-sp);
    margin-top: 0.2em;
}
.see-more {
    display: none;
}
.cat-breeds {
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
}
.breed {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-basis: 49%;
}
.most-search-imgaes  {
    width: 100%;
    height: 100%;
}

.breed img {
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 0.6em;
}

.breed-name {
    margin: 0.6em 0em 1em 0em; 
    font-size: 1em;
    font-weight: var(--fw-600);
    color: var(--bg-black);
}
.breed-links {
    text-decoration: none;
}
/* styling the section of the main  */
.main {
    display: flex;
    flex-direction: column;
}
/* first section description */
.description {
    display: flex;
    flex-direction: column;
}
.have-a-cat {
    font-weight: var(--fw-700);
    font-size: 2.4em;
    color: var(--bg-black);
}
.have-a-cat::before {
    content: "";
    display: block;
    height: 0.15em;
    width: 1.5em;
    background-color: var(--line-sp);
    border-radius: 77px;
    margin-bottom: 0.2em;
}
.explanation {
    font-weight: var(--fw-500);
    color: var(--bg-black);
    font-size: 1em;
}
.read-more-elements {
    display: flex; 
    gap: 0.5rem;
}
.read-more-elements a{
    text-decoration: none;
    font-weight: var(--fw-700);
    color: var(--light-black);
}
.arrow {
    color: var(--light-black);
}
.illusration {
    display: grid;
    grid-template-columns: 12% 40% 40%;
    grid-template-rows: 34% 44% 12% ;
    width: 100%;
    gap: 4%; 
    margin-top: 4em;
}
.illuimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}
.illuimg1 {
    grid-area: 1/1/2/3;
}
.illuimg2 {
    grid-area: 1/3/3/4;
}
.illuimg3  {
    grid-area: 2/2/4/3;
}

/* footer section */
.footer-navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-black);
    border-radius: 2.625rem 2.625rem 0rem 0rem;
    padding: 1em;
}
.white-footer , .white-footer>path {
    color: var(--main-wite);
    fill: var(--main-wite);
}
small {
    color: var(--main-wite);
}
.username {
    font-weight: var(--fw-700);
    text-decoration: underline;
}
@media only screen and (min-width:800px) {
    .breed {
        flex-basis: 23.5%;
    }
    .breeds-text {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .see-more {
        display: block;
        margin: 0 0 0 auto;
    }
    .breeds-text a  {
        text-decoration: none;
        font-weight: var(--fw-700);
        color: var(--light-black);
        font-size: 1em;
    }
}