:root {
    --main-black :  #291507;
    --bg-black : #050709 ; 
    --main-black : #000000 ; 
    --line-sp: #4D270C ; 
    --bg-gray: #E3E1DC ; 
    --main-wite : #FFFFFF ; 
    --light-black: rgba(41, 21, 7, 0.6) ; 
    --light-black2 : #7F736A ; 
    --hover-light-gray:  rgba(151, 151, 151, 0.1) ; 
    --fw-400: 400 ; 
    --fw-500: 500 ; 
    --fw-700: 700 ; 
    --fw-600: 600 ; 
    --logo-font: 'Mystery Quest', cursive;
    --text-font: 'Montserrat', sans-serif;
}
/* setting the border box  */
html {
    box-sizing: border-box;
    font-size: calc(9px + 1.6vw);
}
*, *::after , *::before {
    box-sizing: inherit;
}
* {
    font-family: var(--text-font);
}
body {
    margin: 0;
    padding: 1.53rem 1.2rem 0rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* logo section */
.logo-top  {
    padding-bottom: 1rem;
}
.logo-top0 {
    width: 100%;
}
.logo-top a {
    text-decoration: none;
}
.logo1 {
    font-family: var(--logo-font);
    color: var(--bg-black);
    font-size: 1.6rem;
}
.svglogo {
    width: 2rem;
}
.svglogo > path {
    fill: var(--bg-black);
}





/* navigation section */
.main-navigation {
    border-radius: 2.8rem;
    overflow: hidden;
}





/* first section search-nav */

.search-nav {
    background-color: var(--bg-black);
    color: var(--main-wite);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    z-index: 2;
    padding: 2rem;
}
.main-content > .logo2 {
    font-size: 0.93rem;
}
.svglogo2 {
    display: none;
}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.bg-image1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 30px -20px;
}
.welcom-text {
    font-size: 0.6rem;
    font-weight: var(--fw-500);
}
.search-wrapper {
    display: flex;
    background-color: var(--main-wite);
    align-items: center;
    width: 90%;
    border-radius: 1.4em;
    overflow: hidden;
    padding: 0.3em;
}
#search-input {
    width: 100%;
    border: none;
    background-color: inherit;
    height: 1.5em;
    font-size: 1em;
    font-weight: var(--fw-500);
}
input:focus {
    border: none;
    outline: none;
}
input:active {
    background-color: inherit;
}
.search{
    color: var(--bg-black);
    font-size: 1em;
}







/* second section most seached breeds */
.most-searched-breeds {
    background-color: var(--bg-gray);
    padding: 2em;
    display: flex; 
    flex-direction: column;
}
.logo2 {
    font-family: var(--logo-font);
    color:var(--main-wite);
}
.most-searched {
    margin: 0;
    font-weight: var(--fw-500);
    font-size: 0.8rem;
}
.most-searched::after {
    content: "";
    display: block;
    height: 0.15em;
    width: 2.5em;
    border-radius: 77px;
    background-color: var(--line-sp);
    margin-top: 0.2em;
}
.arrow2 {
    display: none;
}
.see-more {
    display: none;
}
.breeds-discover {
    font-size: 1.2rem;
}
.cat-breeds {
    display: flex;
    flex-flow: row wrap;
    gap: 4%;
}
.breed {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-basis: 48%;
}
.most-search-imgaes  {
    width: 100%;
    height: 100%;
}

.breed img {
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 0.8rem;
}

.breed-name {
    margin: 0.8rem 0em 1.2rem 0em; 
    font-size: 0.8rem;
    font-weight: var(--fw-600);
    color: var(--bg-black);
}
.breed-links {
    text-decoration: none;
}





/* styling the section of the main  */
.main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.46rem;
}



/* first section description */
.description {
    display: flex;
    flex-direction: column;
}
.have-a-cat {
    font-weight: var(--fw-700);
    font-size: 2.666rem;
    color: var(--bg-black);
    margin: 0.5em 0em;
}
.have-a-cat::before {
    content: "";
    display: block;
    height: 0.15em;
    width: 1.5em;
    background-color: var(--line-sp);
    border-radius: 77px;
    margin-bottom: 0.2em;
}
.explanation {
    font-weight: var(--fw-500);
    color: var(--bg-black);
    font-size: 1.2rem;
}
.read-more-elements {
    display: flex; 
    gap: 0.5rem;
}
.read-more-elements a{
    text-decoration: none;
    font-weight: var(--fw-700);
    color: var(--light-black);
    font-size: 0.8rem;
}
.arrow {
    color: var(--light-black);
    font-size: 0.8rem;
}
.illusration {
    display: grid;
    grid-template-columns: 8% 38% 42%;
    grid-template-rows: 36% 38% 12% ;
    gap: 6%; 
    margin-top: 4.2rem;
}

.illuimg {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 1.6rem;
}
.illuimg1 {
    grid-area: 1/1/2/3;
    object-position: 20% 20%;
}
.illuimg2 {
    grid-area: 1/3/3/4;
}
.illuimg3  {
    grid-area: 2/2/4/3;
}





/* footer section */
footer {
    width: 100%;
}
.footer-navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-black);
    border-radius: 2.8rem 2.8rem 0rem 0rem;
    padding: 2.2rem 1rem 1rem 1.9rem;
    width: 100%;
}
.footer-text {
    font-size: 0.7em;
    margin: 0;
}
.white-footer , .white-footer>path {
    color: var(--main-wite);
    fill: var(--main-wite);
}
.white-footer {
    font-size: 0.875em;
    font-weight: var(--fw-400);
}
small {
    color: var(--main-wite);
}
.username {
    font-weight: var(--fw-700);
    text-decoration: underline;
}



/* setting the max width for all the sections */
.main , header , .logo-top0 , footer {
    max-width: 1248px;
}



@media only screen and (min-width:800px) {
    .main-content {
        width: 60%;
    }
    .second-logo-section {
        display: flex;
        align-items: baseline;
    }
    .svglogo2 {
        display: block;
    }
    .svglogo2 {
        width: 2rem;
    }
    .svglogo2 > path {
        fill: var(--main-wite);
    }
    .bg-image1 {
        object-position: 0px -200px;
    }


    .main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto ;
    }
    .main {
        margin: 6rem 0em;
    }
    .description {
        grid-column: span 1;
        height: 100%;
    }
    .illusration {
        grid-column: span 1;
    }
    .breed {
        flex-basis: 22%;
    }
    .breeds-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .see-more-section {
        display: flex;
        align-items: center;
    }
    .see-more{
        display: block;
    }
    .see-more-section > a {
        font-size: 0.3em;
        font-weight: var(--fw-700);
    }
    .breeds-text a  {
        text-decoration: none;
        font-weight: var(--fw-700);
        color: var(--light-black);
        font-size: 0.7em;
    }

    .footer-navigation  {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}