:root {
    --main-black: #291507;
    --bg-black: #050709;
    --main-black: #000000;
    --line-sp: #4D270C;
    --bg-gray: #E3E1DC;
    --main-wite: #FFFFFF;
    --light-black: rgba(41, 21, 7, 0.6);
    --light-black2: #7F736A;
    --hover-light-gray: rgba(151, 151, 151, 0.1);
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --fw-600: 600;
    --logo-font: 'Mystery Quest', cursive;
    --text-font: 'Montserrat', sans-serif;
}
/* setting the border box  */
html {
    box-sizing: border-box;
    font-size: calc(9px + 1.6vw);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    font-family: var(--text-font);
}

body {
    margin: 0;
    padding: 1.53rem 1.2rem 0rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* logo section */

.logo-top0 {
    width: 100%;
}

.logo-top a {
    text-decoration: none;
}

.logo1 {
    font-family: var(--logo-font);
    color: var(--bg-black);
    font-size: 1.6rem;
}

.svglogo {
    width: 2rem;
}

.svglogo>path {
    fill: var(--bg-black);
}



  /* main section */
.main {
    display: flex;
    flex-direction: column;
    margin-top: 1.3rem;
}

/* info section */
.info {
    display: flex;
    flex-direction: column;
}
.text-info {
    margin-top: 1rem;
}
.text-info {
    flex-basis: 100%;
}
.image-representaion {
    flex-basis: 100%;
}
.imgrep {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 1.6rem;
    object-fit: cover;
    object-position: center;
}


.breed-caracteristic {
    list-style: none; 
    padding: 0;
}


.litext {
    margin-bottom: 0.5rem;
}
.range {
    list-style: none;
    display: flex;
    gap: 2%;
    flex-basis: 100%;
    padding: 0;
}

.rangeele {
    height: 0.8rem;
    width: 3rem;
    background-color: var(--light-black2);
    border-radius: 10px;
}
li:has(li) {
    display: flex;
    flex-direction: column;
}
h1 {
    color: var(--bg-black);
    font-size: 1.2rem;
    font-weight: var(--fw-600);
    margin-top: 0;
}
.breed-defenition {
    font-size: 0.6rem;
    font-weight: var(--fw-500);
}
li {
    font-size: 0.5rem;
    font-weight: var(--fw-700);
    text-transform:capitalize;
}
li>span {
    font-weight: var(--fw-500);
}
li:has(ul) {
    display: flex;
}

li:has(ul) >p {
    flex-basis: 100%;
    margin-bottom: 0.8rem;
}


/* other images section */
.ohter-photos {
    display: flex;
    flex-direction: column;
    margin-top: 2.3rem;
    margin-bottom: 5rem;
}
.other-images {
    display: flex;
    flex-flow: row wrap;
    gap: 3%;
}
.otherimg {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1.6rem;
    object-position: center;
    margin-top: 0.5rem;
}

.imgillustration {
    flex-basis: 48.5%;
    margin-bottom: 1.55rem;
}
h2 {
    font-size: 1.2rem;
    margin: 0;
}





/* footer section */
footer {
    width: 100%;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-black);
    border-radius: 2.8rem 2.8rem 0rem 0rem;
    padding: 1.2rem 1rem 1.3rem 1.9rem;
    width: 100%;
}

.footer-text {
    font-size: 0.7em;
    margin: 0.4rem 0 0 0;
}

.white-footer,
.white-footer>path {
    color: var(--main-wite);
    fill: var(--main-wite);
}

.white-footer {
    font-size: 0.875em;
    font-weight: var(--fw-400);
}

small {
    color: var(--main-wite);
}

.username {
    font-weight: var(--fw-700);
    text-decoration: underline;
}


/* max width */
.logo-top , .main , footer {
    max-width: 1248px;
}

/* sets the media queries */
@media only screen and (min-width:550px) {
    .range {
        margin-bottom: 0.5rem;
    }
    li:has(ul) {
        flex-direction: row;
    }
    li:has(ul) > p {
        margin: 0;
    }
    .info {
            display: flex;
            flex-direction: column;
        }
    .image-representaion {
        flex-basis: 80%;
        overflow: hidden;
    }
    .text-info {
        flex-basis: 100%;
    }
    .imgrep {
            width: 40%;
    }
    /* footer section */
    .footer-navigation {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
}
@media only screen and (min-width:800px) {
    
    /* info section */
    .info {
            display: flex;
            flex-direction: row;
        }
    
    .image-representaion {
            flex-basis: 40%;
            overflow: hidden;
        }
    .text-info {
            flex-basis: 60%;
        }
    /* other images section */   
        .imgrep {
            width: 90%;
        }
        .other-images {
            display: flex;
            flex-flow: row wrap;
            gap: 3%;
        }
    
        .imgillustration {
            flex-basis: 22.75%;
            margin-bottom: 1.55rem;
        }
    /* footer section */
    .footer-navigation {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}